<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="../static/aside.css">
    <title>ZORO2</title>
</head>
<body>
    <!-- header -->
    <section class="header-footer"></section>
    <section class="Main">
         <div class="main1"><h1>Zoro</h1></div>
         <div class="main2">
            
            {% include './nav.html'  %}

                     <!-- <div class="Centre">
                        <div class="Centre1">
                        </div>
                     </div>     
         </div> -->
    </section>


    <!-- footer -->
    <section class="header-footer"></section>
</body>
</html>
</body>
</html>