<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style8.css">
    <!-- <link rel="stylesheet" href="../static/aside.css"> -->
    <title>ZORO8</title>
</head>
<body>
          <!-- header -->
    <section class="header-footer"></section>
    <section class="Main">
         <div class="main1"><h1>Zoro</h1></div>
         <div class="main2">

            {% include './nav.html'  %}

                     <div class="Mlieu">
                        <div class="Milieu1">
                            <h3>Suppression de magasin</h3>
                            <div class="Milieu1-1"><h2>Vous êtes sur le point de supprimer le magasin n°2. Êtes-vous <br> 
                               <center>sûr de vouloir continuer ?</center></h2></div>
                            <div class="button">
                                <button class="retour"><a href="./templates/index7.html">Retour</a></button>
                                <button class="confirmer"><a href="./templates/index9.html">Confirmer</a></button>
                            </div>
                        </div>
                     </div>     
         </div>
    </section>


    <!-- footer -->
    <section class="header-footer"></section>
</body>
</html>