<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
    <title>ZORO1</title>
</head>
<body>
    <!-- header -->
    <section class="header-footer"></section>
     <section class="main">
            <div class="main1">
                <h1>Zoro</h1>
            </div>
            <div class="main2">
                <div class="main2-1">
                    <div class="mainL1"><h3>Connectez vous</h3></div>
                    <input type="text" placeholder="Identifiant ">
                    <input type="text" placeholder="Mot de passe ">
                    <!-- <div class="mainL2"><input type="text" placeholder="Identifiant "></div> -->
                    <!-- <div class="mainL3"><input type="text" placeholder="Mot de passe "></div> -->
                    <div> <button><a href="/index2/">Connexion</a></button></div>
                    <h1><a href="#">Si pas de compte inscrivez-vous</a></h1>
                </div>
            </div>
     </section>





    <!-- footer -->
    <section class="header-footer"></section>
</body>
</html>